<!DOCTYPE HTML>
<html>
	<head>
		<link rel="icon" href="/img/favicon.png" type="image/png" />
		<meta charset="UTF-8">
		<title>Silver Fox | Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta property="og:image" content="https://silverfox.be/img/fb-share.png"/>
		<meta name="description" content="A place where Louis D'hauwe shares interesting findings, new projects and just random thoughts." />
		<link href="/css/library.css" rel="stylesheet">
		<link href="/css/lightbox.css" rel="stylesheet" />
		<link href="/css/general.css" rel="stylesheet">
		<link href="/css/content.pages.general.css" rel="stylesheet">
		<link href="/css/index.css" rel="stylesheet">
		<link href="/css/blogpost-tiles.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="wrapper">
				<ul>
					<li><a href="/" class="ir" >Silver Fox</a></li>
					<li class="active"><a href="/blog/">Blog</a></li>
					<li><a href="/projects/">Projects</a></li>
					<li><a href="/news/">News</a></li>
					<li><a href="/about/">About</a></li>
				</ul>
			</div>
		</header>
		<div class="content clearfix"><div class="article-content">