
		</div>

		</div>
		<footer>
			<div class="wrapper">
				<p>&copy;2017 Silver Fox. All rights reserved.</p>
			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="/js/lightbox.min.js"></script>
		<script src="/js/retina.min.js"></script>
		<script src="/js/general.js"></script>
		<script async src="/js/tracking.js"></script>
		<script src="/js/content.pages.general.js"></script>
		<script src="/js/about.js"></script>
	</body>
</html>